Repository neovim/go-client, pull requests merged in 2020-06, with the labels that each got.

#71 ci: switch to GitHub actions from TravisCI
  .github/workflows/test.yml
  .gitignore
  .travis.yml
  README.md
Labels: area/ci

#72 msgpack/rpc: export ErrClosed and ErrInternal
  msgpack/rpc/endpoint.go
Labels: area/msgpack

#76 Improve Reademe for usage.
  README.md
Labels: docs

#77 README: change GoDoc badge to pkg.go.dev
  README.md
Labels: docs
